<div class="stripe-holder showall">
      <div class="stripe-btn btn-prev"></div>
      <div class="stripe-btn btn-next"></div>
     
      <div class="stripe-container" style="margin-left: 0" >
        <div ng-repeat="item in articles | filter:categoryFilterFn" class="stripe stripe0{{($index % 8) + 1}} baseopen">
          <div class="content-container">
            <div class="post-content">


              <figure class="post-icon">
              
                <img width="400" height="382" ng-src="{{item.image_url}}" alt="{{item.name}}">
              </figure>


              <div class="stripe-decoy">
                <h1><a ui-sref="article_detail({id: item.id})">{{item.name}}</a></h1>
                <time>{{item.created_at | date:'dd-MM-yyyy'}}</time>

                <div class="content-holder">
                  <hr>
                  {{item.description}} <a href="">[...]</a>          </div>
              </div>
              <div class="show-more-posts">
                <div class="more-button"></div>
                <div class="vert-border"></div>
                <h3>{{item.category.name}}</h3>
                <ul>
                  <li ng-repeat="ariticle_cate in item.ariticles_cate">
                    <a ui-sref="article_detail({id: ariticle_cate.id})">{{ariticle_cate.name}}</a> 
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="menu item navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-11 col-lg-offset-1">
          
          
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul>
              <li><a href="" ng-click="selectCategory(null)">CHỦ ĐỀ</a></li>
            </ul>
            
          </div>
          <div class="navbar-collapse navbar-collapse1 collapse">
            <ul class="nav navbar-nav">
             
              <li ng-repeat="category in categories | filter: {parent: null}">
                    <div class="hover">
                      <a href="" ng-click="selectCategory(category.id)">{{category.name}}</a>
                    </div> 
                    <div class="mask">
                      <a href="" ng-click="selectCategory(category.id)">{{category.name}}</a>
                    </div> 
              </li>
              
            </ul>
          </div>
            
          </div>
        </div>
      </div>
    </div>
    </div>
    <script type='text/javascript' src='assets/jquery.mousewheel.js'></script>
    <script src="assets/script.js"></script>