	<div class="line">
	      <div class="line1"></div>
	      <div class="line2"></div>
	      <div class="line3"></div>
	      <div class="line4"></div>
	      <div class="line5"></div>
	      <div class="line6"></div>
	      <div class="line7"></div>
	      <div class="line8"></div>
    </div>
    <div class="container-fluid intro">

      <div class="row">
        <div class="col-lg-6">
          <h1>xây dựng website chưa bao giờ dễ dàng đến như thế ! </h1>
          <p>Bạn là một cá nhân hoặc một doanh nghiệp có nhu cầu thành lập, xây dựng một website với đầy đủ các tính năng của một website chuyên nghiệp trong thời gian ngắn nhất và mức giá thấp . Hãy sử dụng dịch vụ của CNC một sản phẩm mới và đầy sáng tạo sẽ giúp bạn thực hiện điều đó .
          </p>
          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5" style="padding-top: 100px; text-align: center;">
          <img src="assets/img/intro/mac.png" class="icon_mac" style="display:none" alt="Mac">
        </div>
        <div class="col-lg-6 col-lg-offset-1">
          <div class="row">
            <div class="col-lg-6">
              <img src="assets/img/intro/icon_1.png" alt="Xây dựng website nhanh chóng">
              <h2 style="color: #b64d26">XÂY DỰNG WEBSITE CỰC KỲ NHANH CHÓNG 
              VỚI CHI PHÍ THẤP NHẤT</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-lg-offset-5">
              <img src="assets/img/intro/icon_2.png" alt="Xây dựng website nhanh chóng">
              <h2 style="color: #1f5371">
                TẤC CẢ CÁC TÍNH NĂNG CỰC KỲ PHONG PHÚ
                ĐÁP ỨNG ĐƯỢC ĐẦY ĐỦ MỌI LOẠI HÌNH WEBSITE
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <img src="assets/img/intro/icon_3.png" alt="Xây dựng website nhanh chóng">
              <h2 style="color: #efba2c">HỆ THỐNG QUẢN trị THÂN THIÊN VỚI NGƯỜI SỬ DỤNG
              DỄ DÀNG TRONG VIỆC SỬ DỤNG</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <script src="assets/script.js"></script>