
<map id="map-canvas" zoom="15" center="[10.7998419, 106.6202706]">
 <marker position="396 Tân Kỳ Tân Quý, Sơn Kỳ, Tân Phú, Hồ Chí Minh, Vietnam" title="CNC Soft" animation="Animation.BOUNCE" centered="true" on-click="showInfoWindow()"></marker>
</map>
     
      </map>
<div class="open-map">
        <span>Mở bản đồ</span>
        <span style="display: none">Đóng bản đồ</span>
      </div>
    <div class="container-fluid contact">
      
      <div class="row">
        <div class="col-lg-6 left">
          <h2 style="color: #000; border-bottom: 4px double #000">GỬI <span style="color: #e54242">YÊU CẦU</span></h2>
          <div class="form">
            <div class="left_form">
              <table>
                <tr>
                  <td><input type="text" placeholder="TÊN"/></td>
                </tr>
                <tr>
                  <td><input type="text" placeholder="EAMIL ADDRESS"/></td>
                </tr>
                <tr>
                  <td><input type="text" placeholder="TIÊU ĐỀ"/></td>
                </tr>
                <tr>
                  <td><input type="text" placeholder="SỐ ĐIỆN THOẠI"/></td>
                </tr>
                <tr>
                  <td><textarea>NỘI DUNG</textarea></td>
                </tr>
                <tr>
                  <td style="text-align: right"><button>GỬI <img src="img/icon_button.png"></button></td>
                </tr>
              </table>
            </div>
            <div class="right_form">
              <p>Mọi thắc mắc góp ý xin gửi về hòm thư WebCNC và chúng tôi sẽ giáp đáp các thắc mắc góp ý trong thời gian sớm nhất

              <p>Trân trọng cảm ơn quý khách hàng đã tin tưởng và sử dụng dịch vụ của chúng tôi</p>

              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 right">
          <h2 style="color: #fff; border-bottom: 4px double #fff">THÔNG <span style="color: #000">TIN</span></h2>
          <ul class="content">
            <li class="address"> <i class="fa fa-location-arrow"></i> Address : 396 Tân Kỳ Tân Quý, Sơn Kỳ, Tân Phú, Hồ Chí Minh, Vietnam</li>
            <li class="phone"><i class="fa fa-headphones"></i> Phone Number : 01697.106.101</li>
            <li class="email"><i class="fa fa-envelope"></i> Email : comictvn@gmail.com</li>
            <li class="skype"><i class="fa fa-skype"></i> Skype : comictvn</li>
          </ul>
          <ul class="social">
            <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus-square"></a></i></li>
            <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="scripts/script.js"></script>