<div class="container-fluid home">
      <img src="assets/img/line_home.png" style="position: absolute; right: 114px;top: 28px;height: 351px;" class="line_home" alt="linehome" />
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 line">
          <h1>SẢN PHẨM CỦA CHÚNG TÔI <span>là gì ?</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            Tại WebCNC, chúng tôi tập trung tạo ra những sản phẩm với nhiều tính năng ưu việt kết hợp cùng những giao diện sáng tạo, sự chọn lựa tỉ mỉ về màu sắc, font chữ, hình ảnh, bộ icon... Tất cả những điều đó kết hợp với mục tiêu và đam mê tạo nên những sản phẩm website hoàn hảo, đồng hành cùng sự phát triển của doanh nghiệp
          </p>
        </div>
      </div>

      <div class="row create">
        <div class="col-lg-8 col-lg-offset-2">
        <a href=""  data-toggle="modal" data-target=".bs-example-modal-sm">
          <div id="start-button" >
            <div class="glow"></div>
            <p>Khởi tạo <br />website</p>
            <img src="">
          </div>
        </a>
          
        </div>
      </div>
    </div>
 <div class="modal modal-login fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" ng-if="!isAuthenticated()">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form method="post" ng-submit="login()" name="loginForm" class="ng-pristine ng-invalid ng-invalid-required">
          <div class="form-group has-feedback">
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" name="email" ng-model="email" placeholder="Email" required="" autofocus="">
            <span class="ion-at form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" type="password" name="password" ng-model="password" placeholder="Password" required="">
            <span class="ion-key form-control-feedback"></span>
          </div>

          <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success" disabled="disabled">Log in</button>

          <br>

          <p class="text-center">
            <a href="#">Forgot your password?</a>
          </p>

          <p class="text-center text-muted">
            <small>Don't have an account yet? <a href="/#/signup">Sign up</a></small>
          </p>

          <div class="signup-or-separator">
            <h6 class="text">or</h6>
            <hr>
          </div>
        </form>
        <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
          <i class="fa fa-facebook"></i> Sign in with Facebook
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-login fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" ng-if="isAuthenticated()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form  ng-submit="createWebsite()" name="websiteForm" class="ng-pristine ng-invalid ng-invalid-required">
          <div class="form-group has-feedback">
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" placeholder="Tên doanh nghiệp/cửa hàng" required="" autofocus="" ng-model="websiteManager.website.website.storename">
            <span class="ion-at form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" placeholder="Tên của bạn" required="" autofocus="" ng-model="websiteManager.website.website.name">
            <span class="ion-at form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" placeholder="Email" required="" autofocus="" ng-model="websiteManager.website.website.email">
            <span class="ion-at form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" placeholder="Số điện thoại" required="" autofocus="" ng-model="websiteManager.website.website.phone">
            <span class="ion-at form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" placeholder="Địa chỉ" required="" autofocus="" ng-model="websiteManager.website.website.address">
            <span class="ion-at form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <select class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" ng-model="websiteManager.website.website.template_id">
            <option disabled selected value="">--Vui lòng chọn giao diện--</option>
              <option ng-repeat="template in websiteManager.templates" ng-value="template.id">
                {{template.name}}
              </option>
            </select>
            <span class="ion-at form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <select class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" ng-model="websiteManager.website.website.field_website_id">
            <option disabled selected value="">--Vui lòng chọn lĩnh vực--</option>
              <option ng-repeat="field in websiteManager.field" ng-value="field.id">
                {{field.title}}
              </option>
            </select>
            <span class="ion-at form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" type="text" placeholder="Domain" required="" autofocus="" ng-model="websiteManager.website.website.domain">
            <span class="ion-at form-control-feedback"></span>
          </div>

          <button type="submit" ng-disabled="websiteForm.$invalid" class="btn btn-lg  btn-block btn-success" disabled="disabled">Tạo website</button>

          <br>

        </form>
        <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
          <i class="fa fa-facebook"></i> Sign in with Facebook
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<div class="alert alert-success alert-dismissible fade in" role="alert" style="position: absolute;width: 300px;right: 10px;top: 50px;" ng-if="websiteManager.createSuccess">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <strong>Tạo website thành công!</strong>  Thông tin website bạn vừa tạo sẽ được chuyển vào email của bạn trong ít phút . Xin vui lòng cảm ơn quý khách hàng đã sử dụng dịch vụ của chúng tôi
    </div>
<script src="assets/script.js"></script>