<div class="container-fluid home">
      <img src="img/line_home.png" style="position: absolute; right: 114px;top: 28px;height: 351px;" class="line_home" alt="linehome" />
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 line">
          <h1>SẢN PHẨM CỦA CHÚNG TÔI <span>là gì ?</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            Tại WebCNC, chúng tôi tập trung tạo ra những sản phẩm với nhiều tính năng ưu việt kết hợp cùng những giao diện sáng tạo, sự chọn lựa tỉ mỉ về màu sắc, font chữ, hình ảnh, bộ icon... Tất cả những điều đó kết hợp với mục tiêu và đam mê tạo nên những sản phẩm website hoàn hảo, đồng hành cùng sự phát triển của doanh nghiệp
          </p>
        </div>
      </div>

      <div class="row create">
        <div class="col-lg-8 col-lg-offset-2">
        <a href="" ng-click="authenticate('facebook')">
          <div id="start-button" >
            <p>Khởi tạo <br />website</p>
            <img src="">
          </div>
        </a>
          
        </div>
      </div>
    </div>
    
<script src="scripts/script.js"></script>