 <div class="container-fluid price">
      
      <div class="row" style="text-align: center">
        <div class="col-lg-12">
          <h1>BẢNG GIÁ</h1>
          <div class="line"></div>
          <p class="intro_text"><span>CHỈ VỚI 5000/</span> THÁNG TẤC CẢ LÀ CỦA BẠN</p>
        </div>
      </div>
      <div class="row content">
        <div class="col-lg-3 col-lg-offset-1 cell">
          <h2>GÓI DÙNG THỬ</h2>
          <h3><span>0</span>/THÁNG</h3>
          <ul>
            <li>DÙNG THỬ 1 THÁNG</li>
            <li>100 SẢN PHẨM</li>
            <li>50 TIN TỨC</li>
            <li>GIAO DIỆN ĐẸP</li>
            <li>TẤC CẢ CÁC TÍNH NĂNG</li>
          </ul>
          <div class="btn"><button>ĐĂNG KÝ</button></div>
        </div>
        <div class="col-lg-3 cell">
          <h2>GÓI CÁ NHÂN</h2>
          <h3><span>150</span>/THÁNG</h3>
          <ul>
            <li>500 SẢN PHẨM</li>
            <li>200 TIN TỨC</li>
            <li>GIAO DIỆN ĐẸP</li>
            <li>TẤC CẢ CÁC TÍNH NĂNG ĐÃ CÓ</li>
            <li>HỖ TRỢ SEO - ONPAGE</li>
            <li>BẢO TRÌ WEBSITE HÀNG THÁNG</li>
            <li>2GB DUNG LƯỢNG</li>
          </ul>
          <div class="btn"><button style="background-color: #fd0047">ĐĂNG KÝ</button></div>
        </div>
        <div class="col-lg-3 cell">
          <h2>GÓI DOANH NGHIỆP</h2>
          <h3><span>250</span>/THÁNG</h3>
          <ul>
            <li>SẢN PHẨM KHÔNG GIỚI HẠN</li>
            <li>TIN TỨC KHÔNG GIỚI HẠN</li>
            <li>GIAO DIỆN ĐẸP</li>
            <li>TẤC CẢ CÁC TÍNH NĂNG ĐÃ CÓ</li>
            <li>HỖ TRỢ SEO - ONPAGE</li>
            <li>BẢO TRÌ WEBSITE HÀNG THÁNG</li>
            <li>MIỄN PHÍ DOMAIN QUỐC TẾ / NĂM</li>
          </ul>
          <div class="btn"><button>ĐĂNG KÝ</button></div>
          
        </div>
      </div>
    </div>