<div class="container-fluid demo">
      <div class="row header">
        <div class="col-lg-2" style="text-align: left; padding-top: 10px; padding-left: 36px">
          <a href=""><img src="img/logo_2.png"></a>
        </div>
        <div class="col-lg-2 col-lg-offset-8">
          <h1>100</h1>
          <span>Demo</span>
        </div>
      </div>

      <div class="row slide_demo">
        <div class="col-lg-12 slide_controller">
          <div class="row">
            <div class="col-lg-3 item" ng-repeat="template in templates">
              <h3>{{$index +1 }}</h3>
              <a href="">
                <img ng-src="{{template.image_url}}" alt="Project 001">
              </a>

              <p class="designer">design by <a href="">{{template.designer}}</a> | {{template.created_at | date:'dd-MM-yyyy'}}</p>
              <h4>{{template.name}}</h4>
              <div class="description">
                {{template.note}}
              </div>
              <div class="btn_demo">
                <button class="view" >XEM <img src="img/icon_button.png"></button>
                <button class="create">TẠO WEB <img src="img/icon_button.png"></button>
              </div>
            </div>
            <div class="col-lg-3 item">
              <h3>001</h3>
              <a href="">
                <img src="img/demo/project1_05.gif" alt="Project 001">
              </a>

              <p class="designer">design by <a href="">comictvn</a> | 17-04-2014</p>
              <h4>PROJECT 001</h4>
              <div class="description">
                Columns: 4+, Compatible Browsers: IE9, IE10, IE11, Firefox, Safari
              </div>
              <div class="btn_demo">
                <button class="view">XEM <img src="img/icon_button.png"></button>
                <button class="create">TẠO WEB <img src="img/icon_button.png"></button>
              </div>
            </div>
            <div class="col-lg-3 item">
              <h3>001</h3>
              <a href="">
                <img src="img/demo/project1_07.gif" alt="Project 001">
              </a>

              <p class="designer">design by <a href="">comictvn</a> | 17-04-2014</p>
              <h4>PROJECT 001</h4>
              <div class="description">
                Columns: 4+, Compatible Browsers: IE9, IE10, IE11, Firefox, Safari
              </div>
              <div class="btn_demo">
                <button class="view">XEM <img src="img/icon_button.png"></button>
                <button class="create">TẠO WEB <img src="img/icon_button.png"></button>
              </div>
            </div>
            <div class="col-lg-3 item">
              <h3>001</h3>
              <a href="">
                <img src="img/demo/project1_09.gif" alt="Project 001">
              </a>

              <p class="designer">design by <a href="">comictvn</a> | 17-04-2014</p>
              <h4>PROJECT 001</h4>
              <div class="description">
                Columns: 4+, Compatible Browsers: IE9, IE10, IE11, Firefox, Safari
              </div>
              <div class="btn_demo">
                <button class="view">XEM <img src="img/icon_button.png"></button>
                <button class="create">TẠO WEB <img src="img/icon_button.png"></button>
              </div>
            </div>
            <div class="col-lg-3 item">
              <h3>001</h3>
              <a href="">
                <img src="img/demo/project1_03.gif" alt="Project 001">
              </a>

              <p class="designer">design by <a href="">comictvn</a> | 17-04-2014</p>
              <h4>PROJECT 001</h4>
              <div class="description">
                Columns: 4+, Compatible Browsers: IE9, IE10, IE11, Firefox, Safari
              </div>
              <div class="btn_demo">
                <button class="view">XEM <img src="img/icon_button.png"></button>
                <button class="create">TẠO WEB <img src="img/icon_button.png"></button>
              </div>
            </div>
            <div class="col-lg-3 item">
              <h3>001</h3>
              <a href="">
                <img src="img/demo/project1_03.gif" alt="Project 001">
              </a>

              <p class="designer">design by <a href="">comictvn</a> | 17-04-2014</p>
              <h4>PROJECT 001</h4>
              <div class="description">
                Columns: 4+, Compatible Browsers: IE9, IE10, IE11, Firefox, Safari
              </div>
              <div class="btn_demo">
                <button class="view">XEM <img src="img/icon_button.png"></button>
                <button class="create">TẠO WEB <img src="img/icon_button.png"></button>
              </div>
            </div>
            <div class="col-lg-3 item">
              <h3>001</h3>
              <a href="">
                <img src="img/demo/project1_03.gif" alt="Project 001">
              </a>

              <p class="designer">design by <a href="">comictvn</a> | 17-04-2014</p>
              <h4>PROJECT 001</h4>
              <div class="description">
                Columns: 4+, Compatible Browsers: IE9, IE10, IE11, Firefox, Safari
              </div>
              <div class="btn_demo">
                <button class="view">XEM <img src="img/icon_button.png"></button>
                <button class="create">TẠO WEB <img src="img/icon_button.png"></button>
              </div>
            </div>
            <div class="col-lg-3 item">
              <h3>001</h3>
              <a href="">
                <img src="img/demo/project1_03.gif" alt="Project 001">
              </a>

              <p class="designer">design by <a href="">comictvn</a> | 17-04-2014</p>
              <h4>PROJECT 001</h4>
              <div class="description">
                Columns: 4+, Compatible Browsers: IE9, IE10, IE11, Firefox, Safari
              </div>
              <div class="btn_demo">
                <button class="view">XEM <img src="img/icon_button.png"></button>
                <button class="create">TẠO WEB <img src="img/icon_button.png"></button>
              </div>
            </div>
            <div class="col-lg-3 item">
              <h3>001</h3>
              <a href="">
                <img src="img/demo/project1_03.gif" alt="Project 001">
              </a>

              <p class="designer">design by <a href="">comictvn</a> | 17-04-2014</p>
              <h4>PROJECT 001</h4>
              <div class="description">
                Columns: 4+, Compatible Browsers: IE9, IE10, IE11, Firefox, Safari
              </div>
              <div class="btn_demo">
                <button class="view">XEM <img src="img/icon_button.png"></button>
                <button class="create">TẠO WEB <img src="img/icon_button.png"></button>
              </div>
            </div>
            <div class="col-lg-3 item">
              <h3>001</h3>
              <a href="">
                <img src="img/demo/project1_03.gif" alt="Project 001">
              </a>

              <p class="designer">design by <a href="">comictvn</a> | 17-04-2014</p>
              <h4>PROJECT 001</h4>
              <div class="description">
                Columns: 4+, Compatible Browsers: IE9, IE10, IE11, Firefox, Safari
              </div>
              <div class="btn_demo">
                <button class="view">XEM <img src="img/icon_button.png"></button>
                <button class="create">TẠO WEB <img src="img/icon_button.png"></button>
              </div>
            </div>
            <div class="col-lg-3 item">
              <h3>001</h3>
              <a href="">
                <img src="img/demo/project1_03.gif" alt="Project 001">
              </a>

              <p class="designer">design by <a href="">comictvn</a> | 17-04-2014</p>
              <h4>PROJECT 001</h4>
              <div class="description">
                Columns: 4+, Compatible Browsers: IE9, IE10, IE11, Firefox, Safari
              </div>
              <div class="btn_demo">
                <button class="view">XEM <img src="img/icon_button.png"></button>
                <button class="create">TẠO WEB <img src="img/icon_button.png"></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
<script src="scripts/script.js"></script>